{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid mt-2">
    <img src="{{c.image.url}} " height="610px" width="100%">
</div>
<div class="container-fluid mt-4" style="margin-bottom: 100px;" >
    <h3 class="text-center">{{c.name}}</h3>
    <p class="text-justyfy" >{{c.description}}</p>
</div>
<div class="container-fluid" style="margin-bottom: 100px;">
    <div class="row">
        {% for i in p %}
        <div class="col-sm-4">
            <div class="card" style="width: 22rem;">
                <img src="{{i.image.url}}" class="card-img-top" alt="..." style="height: 300px;width:100%;">
                <div class="card-body">
                  <h5 class="card-title text-center">{{i.name}}</h5>
                  <p class="card-text">{{i.price}}</p>
                  <a href="{% url 'shop:productdetails' i.slug %}" class="btn btn-primary">DETAILS</a>
                </div>
              </div>
        </div>
          
        {% endfor %}
        
    </div>
</div>


{% endblock content %}